<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- 父组件可以传递不相同的值给子组件，让子组件呈现不同的状态 -->
    <!-- 插槽和属性可以让同一个组件呈现不同状态 -->
    <div id="app">
        <eno-header v-for="i in 3" :name="fn" :size="i" color="red"></eno-header>
        <eno-header :name="fn2" :size="1"  color="green"></eno-header>
    </div>
    <script src="vue.js"></script>
    <script>
        Vue.component('eno-child', {
            template: `
                <header style="margin: 20px; border: 1px solid blue">
                    <div>子组件</div>
                </header>
            `
        })
        // TypeScript JS弱类型语言 var a;
        Vue.component('eno-header', {
            props: {
                // 规定传入的数据必须是函数
                name: Function,
                color: String,
                size: Number
            },
            data() {
                return {
                    title: '第一个组件'
                }
            },
            template: `
                <header :style="{
                    margin: '20px',
                    border: size+'px solid '+color
                }">
                    <input v-model="title" />
                    <div v-text="title"></div>
                    <p v-text="name(5, 6)"></p>
                    <slot></slot>
                </header>
            `
        })
        new Vue({
            el: "#app",
            data: {
                lastName: 'yao',
                firstName: 'eno'
            },
            methods: {
                fn(a, b) {
                    return a + b
                },
                fn2(a, b) {
                    return a - b
                }
            }
        })
    </script>
</body>

</html>